beautifulsoup4
eurostat
fastparquet
gdown
jupyter
matplotlib
notebook
numpy
pandas
pandas-datareader
plotly
pyarrow
pytest
python-dotenv
scikit-learn-intelex
seaborn
requests
ta-lib
yfinance
